* {
    box-sizing: border-box;
}

body {
    margin: 100px 0;
}

/*-----------------Загальні стилі--------------------------*/

.bg-grey {
    background: grey;
}

.bg-l-grey {
    background: rgba(201, 201, 201, 0.59);
}

.pad-l {
    padding-left: 0;
}

.pad-r {
    padding-right: 0;
}

.h-100 {
    min-height: 100%
}

.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}
.h-600px {
    height: 600px;
}

.dis-f {
    display: flex;
}

.f-dir {
    flex-direction: column;
    justify-content: space-between;
}

.jc-sb {
    justify-content: space-between
}

.f-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.f-shrink {
    flex-shrink: 1;
}
/*---------------------------------------------------------*/

/*----------------Лівий основний блок - стилі--------------*/

.box-t {
    min-width: 100%;
    height: 250px;
}

.box-b {
    min-width: 100%;
    height: 100px;
}

/*----------------------------------------------------------*/

/*----------------Правий основний блок - стилі--------------*/

.col-20 {
    flex: 0 0 100%;
    max-width: 20%;
    padding: 10px;
}

.col-sm-12 {
    margin-bottom: 15px;
    padding-right: 0;
}

.col-sm-12:last-child {
    margin-bottom: 0;
}

